.main-officer-card {
  height: 25rem;
  width: 18rem;
  display: grid;
  grid-template-rows: 70% 30%;
  justify-items: center;
  position: relative;
  align-items: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.main-officer-card:hover {
  transform: translateY(-10px);
}

.main-officer-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.main-officer-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.main-officer-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg);
  color: var(--second-font-color);
  border-radius: 10px;
  position: absolute;
  bottom: 15%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main-officer-card-title {
  margin-top: 10px;
}

.main-officer-card-social {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.main-officer-card-icon {
  margin: 1rem;
  border-radius: 50%;
  border: 1px solid var(--second-font-color);
  width: 2rem;
  height: 2rem;
  position: relative;
  color: var(--second-font-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.main-officer-card-icon:hover {
  background-color: var(--second-font-color);
  color: var(--main-font-color);
}

.main-officer-card-des {
  color: var(--main-p-color);
  font-size: 0.9rem;
}

.main-officer-card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-officer-card.superVisorCard .main-officer-card-social {
  display: none;
}

.main-officer-card.superVisorCard .main-officer-card-content {
  height: 7rem;
}

.main-officer-card.ComsocCard .main-officer-card-content {
  background-color: var(--main-Comsocchapter-color);
}

.main-officer-card.PesCard .main-officer-card-content {
  background-color: var(--main-Peschapter-color);
}

.main-officer-card.WieCard .main-officer-card-content {
  background-color: var(--main-WieChapter-color);

}

.main-officer-card.RasCard .main-officer-card-content {
  background-color: var(--main-RasChapter-color);
}

.main-officer-card.ComsocCard .main-officer-card-des {
  color: var(--second-Comsocchapter-color);
}

.main-officer-card.PesCard .main-officer-card-des {
  color: var(--second-Peschapter-Color);
}

.main-officer-card.RasCard .main-officer-card-des {
  color: var(--second-RasChapter-color);
}

.main-officer-card.WieCard .main-officer-card-des {
  color: var(--second-WieChapter-color);
}