.main-table {
    margin: 2rem auto;
    width: 100%;
}

.main-table table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.main-table table thead tr {
    background-color: var(--main-bg);
    color: var(--main-font-color);
    text-align: center;
    font-weight: bold;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-table table tbody tr {
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-bottom: 1px solid #e0e0e0;
    color: var(--main-bg);
}

.main-table table tbody tr:nth-child(even):hover {
    background-color: #ebebeb;
}

.main-table table tbody tr:nth-child(odd):hover {
    background-color: var(--main-font-color);
}

.main-table table tbody tr:nth-child(odd) {
    background-color: #ebebeb;
}


.main-table table tbody td,
.main-table table thead th {
    text-align: center;
    padding: 1rem;
}

.main-table table thead th {
    border-inline: 1px solid #e0e0e0;
}

.main-table table tbody td {
    border-inline: 1px solid #e0e0e0;
    color: var(--main-bg);
    font-weight: bold;
    /* Added padding for better spacing */
}


.main-table table tbody td:first-child,
.main-table table thead th:first-child {
    border-left: none;
}

.main-table table tbody td:last-child,
.main-table table thead th:last-child {
    border-right: none;
    color: var(--main-font-color);
    min-width: 150px;
    /* Set a minimum width */
    width: auto;
    /* Set width to auto */
}


.table-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.table-header {
    color: var(--second-font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-table.chairman-table {
    overflow-x: auto;
}

/* Medium screen size */
@media only screen and (max-width: 991px) {
    .main-table table {
        overflow-x: auto;
        display: block;
    }


    .main-table table thead tr,
    .main-table table tbody tr {
        width: 100%;
    }

    .main-table table tbody tr td,
    .main-table table thead tr th {
        flex: 1;
        min-width: 100px;
    }
}

.main-table table tbody td a {
    color: var(--second-font-color);
    text-decoration: underline;
}