.home-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
}

.home-nav-links {
  color: var(--second-font-color);
  display: flex;
}
.nav-taps {
  margin: 0 20px;
}
